.footer{
  background-color: $footer;
}
.prefooter{
  background-color: $footer;
  bottom: 10px;
  position: absolute;
  z-index: 1px;
}
a#afooter{
  padding-left: 145px;
  text-align: center;
  color: white;
  text-decoration: underline;
}
a#afooter:hover{
  color: red;
}
.cerrar{
  color: white;
  float: right;
}
form{
  color: white;
  width: 16%;
  margin: 0 auto;
}
.footer ul{
  float: left;
}
.footer ul li a{
  color: white;
}
.footer a:hover{
  color: red;
}
.footer-seccion{
  width: 33%;
  float: left;
  padding-top: 20px;
}
.footer h3{
  color: $foo-title;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
.footer p{
  color: white;
}
.footer-seccion ul li{
  float: left;
  padding: 10px;
}
.footer-seccion ul.footer-menu li{
  clear: left;
}
.footer-seccion img{
  width: 50px;
}
.footer-seccion p{
  padding-left: 110px;
}

