#all-content{
  background-color: $white;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}
h2 {
  font-family: $titles;
  @include fontsize(40px);
}
h3{
  font-family: $titles;
  @include fontsize(30px);
}
h4{
  font-family: $titles;
  @include fontsize(20px);
}
p{
  font-family: $text;
  @include fontsize(20px);
}
a{
  font-family: $text;
  @include fontsize(20px);
  text-decoration: underline;
  transition: all, 1s;
}
a:hover{
  color: $red;
}
li{
  list-style: none;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

