.header{
  background-color: $head-conoci;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
.header-contenido{
  background-color: $cont-conoci;
  margin: 10px 80px 10px 80px;
  padding-bottom: 10px;
}
.menu-img{
  width: 50px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
.yo{
  padding: 20px 20px 0px 75px;
  width: 300px;
}
.header-contenido ul li {
  float: left;
  padding: 10px;
}
.header-contenido ul li a img{
  width: 70px;
}
.I-picture{
  float: left;
  width: 50%;
}
.I-picture p{
  padding: 20px 20px 20px 0px;
}
.modal{
  position: absolute;
  z-index: 1;
  top: 0;
  width: 1200px;
  height: 47%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.modal ul{
padding-top: 5.313%;
}
.modal ul li{
padding-top: 2.188%;
padding-left: 18.75%;
clear: both;
}
.modal li a{
color: grey;
text-decoration: none;
font-size: 20px;
}
.modal li a:hover{
color:white;
text-decoration: underline;
}
.cerrar{
float: right;
margin-top: 1%;
margin-right: 2%;
font-weight: bold;
}
.cerrar a{
font-weight: 100;
text-align: center;
padding: 30%;
color: white;
}
.cerrar a:hover{
color: $footer;
}
.ocultar {
display: none;
}
