
.habilidades{
  background-color: $habilidades;
  text-align: center;
  margin-bottom: 50px;
}
.habilidades-cont{
  float: left;
  width: 33%;
}
.habilidades-cont img{
  height: 100px;
  width: 200px;
}
//Fin habilidades

//Proyectos
.proyectos{
  background-color: $proyectos;
  text-align: center;
  margin-bottom: 50px;
}
.proyectos #img-proyectos{
  padding-top: 10px;
  width: 150px;
}
.proyectos #flechas{
  height: 50px;
  width: 100px;
  margin-bottom: 10px ;
}
.contenidoModal ul{
  padding: 0px;
}
.titulo2{
  padding: 20px;
  background-color: $footer;
  color: $white;
  margin: 0px;
}
#repos ul li{
  float: left;
  width: 48%;
  margin: 9px;
  background-color: $white;
  border:  2px solid black;
}
#repos h2 {
  margin:20px 0px 20px 0px;
}
#repos ul li:hover{
  border: 2px solid $red;
}
.contenidoModal img{
  width: 500px;
  height: 300px;
}
//fin proyectos
//conocimientos

.conocimientos{
  background-color: $cont-conoci;
  padding: 20px 40px 40px 40px;
  text-align: center;
  margin-bottom: 50px;
}
.conoci-cont{
  background-color: $head-conoci;
}
.conoci-cont ul li{
  float: left;
  padding: 70px;
}
.conoci-cont img{
  width: 200px;
}

